<a href="https://colab.research.google.com/github/debora28/pi-2020.2/blob/main/Crime_E2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset sobre taxa de ocorrência de crimes como roubo, furto e relacionados
*Os dados foram extraídos do sistema de Registro Digital de Ocorrências (R.D.O.) disponível no site www.ssp.sp.gov.br referente ao ano de 2016.*

*Importando as bibliotecas necessárias para tratamento, estatística e visualização de dados:*

In [120]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

*Carregando o arquivo:*

In [121]:
# Diretamente do GitHub:
url = 'https://raw.githubusercontent.com/debora28/pi-2020.2/main/Edited_CrimeRatesBrazil.csv'
data = pd.read_csv(url)

In [122]:
# Lendo o arquivo CSV que foi carregado na página:
# data = pd.read_csv('Edited_CrimeRatesBrazil.csv')

# Siglas e termos:

*DECAP = Departamento de Polícia Judiciária da Capital;
Seccionais = Subdivisões da DECAP, por unidade territorial;
Flag_status = status de registro;
CIRC = Circunscrição;
Rubrica = Natureza jurídica da ocorrência, tipo de crime.
Status:
  "Remarcado" ('R')
  "Cancelado" ('C')
  "Convertido em Diligência" ('D')
  "Realizada" ('F')
  "Não realizada" ('N')
  Disponível apenas para usuários internos e para audiências ('M')*

#Limpeza e Tratamento
Procurando nulos e removendo: NA - Not Available e NaN - Not a Number.
Podemos ver que 5 colunas retornaram True, ou seja, possuem pelo menos um valor (any) indisponível ou vazio (isnull).

In [123]:
print(data.isnull().any())
print()

NUM_BO                    False
ANO_BO                    False
ID_DELEGACIA              False
NOME_DEPARTAMENTO         False
NOME_SECCIONAL            False
DELEGACIA                 False
NOME_DEPARTAMENTO_CIRC    False
NOME_SECCIONAL_CIRC       False
NOME_DELEGACIA_CIRC       False
ANO                       False
MES                       False
FLAG_STATUS               False
RUBRICA                   False
DESDOBRAMENTO              True
CONDUTA                    True
LATITUDE                   True
LONGITUDE                  True
CIDADE                    False
LOGRADOURO                False
NUMERO_LOGRADOURO         False
FLAG_STATUS.1             False
Unnamed: 21                True
dtype: bool

Aqui podemos ver que:
- A coluna DESDOBRAMENTO tem apenas 5 valores;
- As colunas CONDUTA, LATITUDE e LONGITUDE estão quase completas;
- Unnamed: 21 está vazia;
- FLAG_STATUS.1 é uma repetição de FLAG_STATUS.

In [124]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NUM_BO                  199 non-null    int64
 1   ANO_BO                  199 non-null    int64
 2   ID_DELEGACIA            199 non-null    int64
 3   NOME_DEPARTAMENTO       199 non-null    object
 4   NOME_SECCIONAL          199 non-null    object
 5   DELEGACIA               199 non-null    object
 6   NOME_DEPARTAMENTO_CIRC  199 non-null    object
 7   NOME_SECCIONAL_CIRC     199 non-null    object
 8   NOME_DELEGACIA_CIRC     199 non-null    object
 9   ANO                     199 non-null    int64
 10  MES                     199 non-null    int64
 11  FLAG_STATUS             199 non-null    object
 12  RUBRICA                 199 non-null    object
 13  DESDOBRAMENTO           5 non-null      object
 14  CONDUTA                 185 non-null    object
 15  LATITUDE                188 non-null    float64
 16  LONGITUDE               188 non-null    float64
 17  CIDADE                  199 non-null    object
 18  LOGRADOURO              199 non-null    object
 19  NUMERO_LOGRADOURO       199 non-null    int64
 20  FLAG_STATUS.1           199 non-null    object
 21  Unnamed: 21             0 non-null      float64
dtypes: float64(3), int64(6), object(13)
memory usage: 34.3+ KB
None

Podemos então apagar as colunas DESDOBRAMENTO, Unnamed: 21 e FLAG_STATUS.1, por falta ou insuficiência de valores.

Com drop podemos excluir as colunas (axis=1 são colunas, axis=0 são linhas) sem utilidade, salvando em um novo dataframe (recebido pela variável data2) e depois salvando num outro arquivo csv (com to_csv):

In [125]:
data2 = data.drop('DESDOBRAMENTO', axis=1)
data2.to_csv('data_semDesdob.csv', index= False)
data2.head()

   NUM_BO  ANO_BO  ID_DELEGACIA  ... NUMERO_LOGRADOURO FLAG_STATUS.1 Unnamed: 21
0    3784    2016         10101  ...              1000             C         NaN
1    3426    2016         10102  ...                 0             C         NaN
2    6359    2016         10102  ...                 0             C         NaN
3    1267    2016         10103  ...                15             C         NaN
4    4804    2016         10106  ...               625             C         NaN

[5 rows x 21 columns]

In [126]:
data2 = data2.drop('Unnamed: 21', axis=1)
data2.to_csv('data_semUnnamed.csv', index= False)
data2.head()

   NUM_BO  ANO_BO  ...  NUMERO_LOGRADOURO FLAG_STATUS.1
0    3784    2016  ...               1000             C
1    3426    2016  ...                  0             C
2    6359    2016  ...                  0             C
3    1267    2016  ...                 15             C
4    4804    2016  ...                625             C

[5 rows x 20 columns]

In [127]:
data2 = data2.drop('FLAG_STATUS.1', axis=1)
data2.to_csv('data_semFlag1.csv', index= False)
data2.head()

   NUM_BO  ANO_BO  ...             LOGRADOURO NUMERO_LOGRADOURO
0    3784    2016  ...        AVENIDAPAULISTA              1000
1    3426    2016  ...        PRAADAREPUBLICA                 0
2    6359    2016  ...   RUACONSELHEIRONEBIAS                 0
3    1267    2016  ...  RUAMADUREIRACALHEIROS                15
4    4804    2016  ...           RUAROBERTSON               625

[5 rows x 19 columns]

Observamos que a coluna mais importante para o nosso estudo é a Rubrica, a qual traz a natureza do crime. No entanto, devemos usar o número de ocorrências de cada crime, então vamos transformar as linhas dessa coluna em novas colunas. 
Em cada coluna nova, aparecerá 1 onde o título corresponder à coluna antiga, ou 0 se não houver correspondência:

In [128]:
novas_colunas = pd.get_dummies(data2['RUBRICA']) 
data2 = pd.concat([data2, novas_colunas], axis=1) 
# axis = 1 concatena colunas. axis = 0 concatena linhas
data2.head()

   NUM_BO  ...  Roubo(art.157)
0    3784  ...               0
1    3426  ...               1
2    6359  ...               0
3    1267  ...               1
4    4804  ...               0

[5 rows x 27 columns]

# Analisando os dados
Com describe, vemos que apesar de ser referente ao ano de 2016, há pelo menos uma ocorrência de 2017 na coluna ANO_BO (última linha -> max), o que sugere que um crime ocorrido em 2016 só foi registrado em 2017. Não pudemos identificar nenhum outlier.

In [129]:
data2.describe()

             NUM_BO  ...  Roubo(art.157)
count  1.990000e+02  ...      199.000000
mean   4.687784e+05  ...        0.391960
std    5.535074e+05  ...        0.489419
min    3.600000e+01  ...        0.000000
25%    3.555500e+03  ...        0.000000
50%    1.442190e+05  ...        0.000000
75%    8.584790e+05  ...        1.000000
max    1.649798e+06  ...        1.000000

[8 rows x 16 columns]

Removendo a coluna RUBRICA, que já foi adcionada como outras colunas:

In [130]:
data2 = data2.drop('RUBRICA', axis=1)
data2.to_csv('data_novasCols.csv', index= False)
data2.head()

   NUM_BO  ...  Roubo(art.157)
0    3784  ...               0
1    3426  ...               1
2    6359  ...               0
3    1267  ...               1
4    4804  ...               0

[5 rows x 26 columns]