<a href="https://colab.research.google.com/github/debora28/pi-2020.2/blob/main/Crime_E2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset sobre taxa de ocorrência de crimes como roubo, furto e relacionados
*Os dados foram extraídos do sistema de Registro Digital de Ocorrências (R.D.O.) disponível no site www.ssp.sp.gov.br referente ao ano de 2016.*

*Importando as bibliotecas necessárias para tratamento, estatística e visualização de dados:*

In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

*Carregando o arquivo:*

In [68]:
# Diretamente do GitHub:
url = 'https://raw.githubusercontent.com/debora28/pi-2020.2/main/Edited_CrimeRatesBrazil.csv'
data = pd.read_csv(url)

In [23]:
# Lendo o arquivo CSV que foi carregado na página:
# data = pd.read_csv('Edited_CrimeRatesBrazil.csv')

# Siglas e termos:

*DECAP = Departamento de Polícia Judiciária da Capital;
Seccionais = Subdivisões da DECAP, por unidade territorial;
Flag_status = status de registro;
CIRC = Circunscrição;
Rubrica = Natureza jurídica da ocorrência, tipo de crime.
Status:
  "Remarcado" ('R')
  "Cancelado" ('C')
  "Convertido em Diligência" ('D')
  "Realizada" ('F')
  "Não realizada" ('N')
  Disponível apenas para usuários internos e para audiências ('M')*

# Analisando os dados
Com describe, vemos que:
- Lat e Long não estão totalmente preenchidas, já que possuem apenas 188 dos 199 valores;
- Apesar de ser referente ao ano de 2016, há pelo menos uma ocorrência de 2017 (max).

In [37]:
data.describe()

             NUM_BO       ANO_BO  ...  NUMERO_LOGRADOURO  Unnamed: 21
count  1.990000e+02   199.000000  ...         199.000000          0.0
mean   4.687784e+05  2016.020101  ...         688.437186          NaN
std    5.535074e+05     0.140698  ...        1437.826725          NaN
min    3.600000e+01  2016.000000  ...           0.000000          NaN
25%    3.555500e+03  2016.000000  ...          37.500000          NaN
50%    1.442190e+05  2016.000000  ...         248.000000          NaN
75%    8.584790e+05  2016.000000  ...         549.000000          NaN
max    1.649798e+06  2017.000000  ...       13913.000000          NaN

[8 rows x 9 columns]

*Mostrando as primeiras 5 linhas:
Observando os títulos, vemos que a coluna Unnamed parece estar vazia e a coluna Flag_status, repetida.*

In [24]:
data.head()

   NUM_BO  ANO_BO  ID_DELEGACIA  ... NUMERO_LOGRADOURO FLAG_STATUS.1 Unnamed: 21
0    3784    2016         10101  ...              1000             C         NaN
1    3426    2016         10102  ...                 0             C         NaN
2    6359    2016         10102  ...                 0             C         NaN
3    1267    2016         10103  ...                15             C         NaN
4    4804    2016         10106  ...               625             C         NaN

[5 rows x 22 columns]

Com drop podemos excluir as coluna sem utilidade:

In [69]:
data2 = data.drop('Unnamed: 21', axis=1)
data2.head()

   NUM_BO  ANO_BO  ...  NUMERO_LOGRADOURO FLAG_STATUS.1
0    3784    2016  ...               1000             C
1    3426    2016  ...                  0             C
2    6359    2016  ...                  0             C
3    1267    2016  ...                 15             C
4    4804    2016  ...                625             C

[5 rows x 21 columns]

In [70]:
data2.to_csv('data_semUnnamed.csv', index= False)

In [71]:
data3 = data2.drop('FLAG_STATUS.1', axis=1)
data3.head()

   NUM_BO  ANO_BO  ...             LOGRADOURO NUMERO_LOGRADOURO
0    3784    2016  ...        AVENIDAPAULISTA              1000
1    3426    2016  ...        PRAADAREPUBLICA                 0
2    6359    2016  ...   RUACONSELHEIRONEBIAS                 0
3    1267    2016  ...  RUAMADUREIRACALHEIROS                15
4    4804    2016  ...           RUAROBERTSON               625

[5 rows x 20 columns]